# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objective:**
* Popular languages used for Data Science
* Libraries used by Data Scientist
* Data Science tools
* Solving basic arithmetic expressions in Python
* Converting minutes to hours using Python

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Julia

Some of the commonly used libraries used by Data Scientists include:
1. NumPY 
2. Pandas
3. Scikit Learn
4. Matplotlib

| Data Science Tools|
| ------|
| Pandas|
| Tensor flow|
| Hadoop|
| ggplot|

### Below are a few examples of evaluating arithmetic expressions in Python:

In [6]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [8]:
# This will convert 200 minutes to hours by diving by 60
mins = 200
hrs = mins/60
print(hrs)

3.3333333333333335

## Author
SaiPranav Thota